<nav class="navbar">
    <div class="container">
        <a class="navbar-brand">NewsApp</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="news">News</a></li>
            
        </ul>
    </div>
</nav>
