<mat-toolbar color="primary" class="navbar">
   
        <mat-button-toggle-group routerLinkActive="active">
            <mat-button-toggle routerLink="home"><mat-icon color="primary">home</mat-icon></mat-button-toggle>
            <mat-button-toggle routerLink="login"><mat-icon color="primary">login</mat-icon></mat-button-toggle>
            <mat-button-toggle  routerLink="register"><mat-icon color="primary">subscriptions</mat-icon></mat-button-toggle>
            <mat-button-toggle  routerLink="news"><mat-icon color="primary">feed</mat-icon></mat-button-toggle>
   
        </mat-button-toggle-group>
    
</mat-toolbar>
